import os
from geonode.settings import TEMPLATES, INSTALLED_APPS
import geonode.settings

DEBUG = True

SITENAME = "OpenQuake Platform"

SITEURL = os.getenv('SITEURL', _default_siteurl)

TIME_ZONE = 'UTC'

INSTALLED_APPS += (
    'pla_common',)

