.navbar-inverse {
    border: 0;
    background: url(/static/geonode/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
    height: 40px;
}
.home .navbar-inverse {
    background-color: #1b75a5!important;
}
.navbar-inverse .nav-container {
    margin: 0!important;
}
.navbar-brand {
    height: auto!important;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top: 15px!important;
    padding-bottom: 12px!important;
}

