body {
    background: #fff!important;
}    
body.home {
    background: url(/static/img/back_platform.jpg) no-repeat center top!important;
    -webkit-background-size: cover!important;
    -moz-background-size: cover!important;
    -o-background-size: cover!important;
    background-size: cover!important;
    background-attachment: fixed!important;
}    
.home #wrap {
    min-height: 772px;
    background: none!important;
}
#wrap {
    background: none!important;
}    
.home .jumbotron {
    margin: 20px auto 0!important;
    width: 75%;
    background: rgba(0, 0, 0, 0.75)!important;
    padding: 0!important;
    height: 500px;
}    
.home .jumbotron p {
    font-size: 22px;
}
.jumbotron .gn-container {
    float: left;
    padding: 0 45px;
    width: 80%;
}
.jumbotron h1 {
    color: #1b75a7;
    font-size: 40px!important;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 25px;
}
.oq-button-home {
    float: left;
    width: 20%;
    padding: 30px 22px;
}    
.oq-button-home .oq-calc {
    margin-top: 4px;
}    
.oq-button-home .bt .oq-button-home-btn {
    display: block!important;
    font-size: 18px;
    margin: 0 0 15px;
    background: #f7931e;
    border-color: #f7931e;
    font-weight: normal;
    color: #fff!important;
    width: 195px;
    text-align: left;
}
.oq-button-home .bt .oq-button-home-btn:hover,
.oq-button-home .bt .oq-button-home-btn:focus {
    background: #f05a24;
    border-color: #f05a24;
}
.btn-primary {
    background: #f7931e!important;
    border-color: #f7931e!important;
}
.btn-primary:hover, .btn-primary:focus {
    background: #f05a24!important;
    border-color: #f05a24!important;
}
.navbar-inverse {
    border: 0;
    background: #1b75a5 url(/static/geonode/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
    height: 40px;
}
.navbar-nav .dropdown-menu {
    border-top: 1px solid #ccc;
    background-color: #fff!important;
}
.navbar-nav > li > .dropdown-menu:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 50px;
}
.navbar-nav .dropdown-menu a {
    color: #000!important;
    font-size: 13px;
    margin: 0;
}
.navbar-nav .dropdown-menu > li > a {
    padding: 3px 2px;
}
.navbar-nav .dropdown-menu > li > a:hover {
    color: #fff!important;
}
.home .navbar-inverse,
.navbar-inverse {
    background-color: #1b75a5!important;
}
.navbar-inverse .nav-container {
    margin: 0!important;
}
.navbar-brand {
    background: url("../img/logo.png") 0 10px no-repeat!important;
    height: auto!important;
    padding: 12px 15px!important
}
.ac-results {
    background-color: #fff;
    padding: 5px;
}
.footer-col-md-6 {
    width: 100%!important;
    text-align:center!important;
    font-size: 14px!important;
    color: #fff!!important;
}    
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    background: #1b75a5 url(/static/geonode/img/oq-header.png) no-repeat left top;
    height: 40px;
    padding: 0.6em!important;
    width: 100%!important;
    z-index: 1000;
    font-size: 14px;
}    
footer a {
    color: #fff!important;
}    
footer ul {
    margin-bottom: 0!important;
}    
#nav_calculate {
    border-bottom: solid #ffdc00 5px;
}
#nav_share {
    border-bottom: solid #eb737d 5px;
}
#nav_explore {
    border-bottom: solid #dc6522 5px;
}
#nav_calculate,
#nav_share,
#nav_explore {
    width: 100px;
    text-align: center;
    margin: 0 6px;
}    
.oq-navbar > li {
    padding-top: 15px!important;
    padding-bottom: 5px!important;
}    
.oq-navbar > li > a {
    color: #fff!important;
    font-size: 16px!important;
    border: 0!important;
    padding: 0!important;
    background: none!important;
    line-height: 14px!important;
}
.oq-navbar > li > a:hover, 
.oq-navbar > li > a:focus {
    color: #fff!important;
    font-size: 18px!important;
    font-weight: bold!important;
    background: none!important;
}
.right-bar {
    float: right;
    width: 68px;
    height: 42px;
    position: absolute;
    right: 4px;
    top: 1.5px;
}
.oq-right-search,
.oq-right-help,
.oq-right-share {
    margin: -13px 25px 0 -42px!important;

}    
.oq-right-search a,
.oq-right-help a,
.oq-right-share a {
    padding-top: 15px!important;
    padding-bottom: 5px!important;
}    
.oq-user {
    margin: -13px 35px 0;
}    
.oq-user:hover {
    background: none!important;
}    
.oq-reg,
.oq-signin {
    margin: -13px 25px 0 -25px;
}    
.oq-right-search > a:hover,
.oq-right-search > a:focus,
.oq-right-help > a:hover,
.oq-right-help > a:focus,
.oq-right-share > a:hover,
.oq-right-share > a:focus,
.oq-reg > a:hover, 
.oq-reg > a:focus,
.oq-signin > a:hover,
.oq-signin > a:focus,
.oq-user > a:focus,
.oq-user > a:hover {
    color: #fff!important;
    background: none!important;
}
.oq-search {
    height: auto;
}
.oq-search .col-md-3 {
    position: fixed;
    right: 0;
    width: auto;
    z-index: 1;
    top: 60px;
}
.oq-search-input {
    width: 300px;
}    
.navbar {
    min-height: 42px!important;
}    
.navbar-right {
    margin-right: 40px!important;
    height: 42px;
}    
.oq-share {
    display: none;
}
.oq-share ul {
    float: right;
    margin: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 160px;
    padding: 2px 0;
}
.oq-share ul li {
    float: left;
    list-style: none;
    padding: 0;
    width: 100%;
}
.oq-share ul li a:hover,
.oq-share ul li a:focus {
    background:#2c689c;
    color:#fff!important;
}
.oq-share ul li a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    width: 100%;
    padding: 4px 2px;
    position: relative;
    display: block;
}
.oq-share .col-md-3 {
    position: fixed;
    right: 0;
    width: auto;
    z-index: 999;
    top: 60px;
}
.oq-share .col-md-3 > ul > li > a .fa {
    width: 28px;
}    
.oq-share ul:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0,0,0,0.2);
    position: absolute;
    top: -7px;
    right: 86px;
}
.modal-dialog {
    width: 500px!important;
    margin: 60px auto!important;
}
.form-signin {
    max-width: 500px!important;
    margin: 0px auto!important;
    padding: 15px!important;
}
.modal-body .checkbox input[type="checkbox"] {
    margin-left: 0!important;
    position: relative!important;
}    
.map_warning {
    position: fixed;
    padding: 5px;
    background-color: yellow;
    font-size: 14px;
    top: 65px;
    width: auto;
    left: 100px;
}
span.user-contrib {
    font-size: 15px;
    font-style: italic;
}

/*Responsive */
@media (min-width: 1024px) {
    .col-lg-4 {
        width: 33.33333333%!important;
    }
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        float: left;
    }
    .col-lg-8 {
        width: 66.66666667%!important;
    }
}
@media (max-width: 1024px) {
    .home .jumbotron {
        width: 85%;
    }
    .jumbotron .gn-container {
        width: 70%;
    }
}    
@media (min-width: 1025px) and (max-width: 1280px) {
    .home .jumbotron {
        width: 870px;
    }
    .jumbotron .gn-container {
        width: 70%;
    }
}
@media (min-width: 1281px) {
    .home .jumbotron {
        width: 1160px;
    }
    .jumbotron .gn-container {
        width: 78%;
        padding: 0 40px;
    }
}
