.navbar-inverse {
    border: 0;
    background: url(/static/geonode/img/oq-header.png) no-repeat left top;
    background-color: #1b75a5;
    height: 40px;
}
.home .navbar-inverse,
.navbar-inverse {
    background-color: #1b75a5!important;
}
.navbar-inverse .nav-container {
    margin: 0!important;
}
.navbar-brand {
    height: auto!important;
}
.navbar-inverse .navbar-nav > li > a {
    padding-top: 15px!important;
    padding-bottom: 12px!important;
}
.footer-col-md-6 {
    width: 100%!important;
    text-align:center!important;
    font-size: 14px!important;
    color: #fff!!important;
}    
footer {
    background: #1b75a5 url(/static/geonode/img/oq-header.png) no-repeat left top;
    height: 40px;
    padding: 0.6em!important;
}    
footer a {
    color: #fff!important;
}    
footer ul {
    margin-bottom: 0!important;
}    
