{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "OpenQuake Share" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "OpenQuake Share" %}</h2>
</div>
<style>
    .oq-button-home {padding: 0 22px}
</style>
<div style="float:left; width: 80%; padding: 0 0 50px;">
    The OpenQuake Platform includes a number of tools allowing users to contribute to the existing datasets.
            <br/><br/>

            <b>Offline Inventory Capture Tools</b>
            <br/>
            The following tools were developed as part of the <a class="static-link" target="_blank" href="https://www.globalquakemodel.org/tools-products">Inventory Data Capture Tools</a> global component:
            <ul>
              <li>
                A Building Data Capture application for Android phone or tablet is available for installation via <a class="static-link" target="_blank" href="https://play.google.com/store/apps/details?id=org.globalquakemodel.org.idctdo">Google Play</a>.
              </li>
            </ul>

            <b>GEM Building Taxonomy Tools</b>
            <br/>
            <a class="static-link" target="_blank" href="https://www.globalquakemodel.org/tools-products">The GEM Building Taxonomy</a> is used in a number of GEM databases to classify building types.
            <ul>
              <li><a class="static-link" href="/taxtweb">TaxTweb</a> Graphical tool for editing GEM Taxonomy strings, web version</li>
            </ul>

            <b>Upload:</b>
            <br/>
            The OpenQuake platform also allows users to upload arbitrary documents and GIS map layers:
            <ul>
              <li><a class="static-link" href="{% url "document_upload" %}">Documents</a></li>
              <li><a class="static-link" href="{% url "layer_upload" %}">Layers</a></li>
            </ul>
</div>            

{% include 'includes/sidebar.html' %}
{% endblock %}

